@{
    ViewData["Title"] = "Realizacje";
}

<h1 class="text-center">Nasze Realizacje</h1>


<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card h-100 bg-light text-center p-5">
            Miejsce na zdjęcie 1
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100 bg-light text-center p-5">
            Miejsce na zdjęcie 2
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100 bg-light text-center p-5">
            Miejsce na zdjęcie 3
        </div>
    </div>
</div>
