a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #d39e00; 
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #000000; 
}

.btn-primary {
  color: #000000;
  background-color: #ffc107;
  border-color: #ffc107;
  font-weight: 600; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #000000;
  background-color: #e0a800;
  border-color: #d39e00;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15); 
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #000000; 
  color: #ffc107;
  border-top: 3px solid #ffc107; 
}

.footer a {
    color: #ffc107;
    font-weight: bold;
}

.footer a:hover {
    color: #ffffff; 
    text-decoration: underline;
}