@page
@model Disable2faModel
@{
    ViewData["Title"] = "Wyłącz weryfikację dwuetapową (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ta akcja wyłącza jedynie weryfikację dwuetapową.</strong>
    </p>
    <p>
        Wyłączenie 2FA nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz używany w aplikacji, powinieneś <a asp-page="./ResetAuthenticator">zresetować klucze uwierzytelniania.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Wyłącz 2FA</button>
    </form>
</div>