@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Wygeneruj kody odzyskiwania (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Przechowuj te kody w bezpiecznym miejscu.</strong>
    </p>
    <p>
        Jeśli zgubisz urządzenie i nie będziesz posiadać kodów odzyskiwania, stracisz dostęp do swojego konta.
    </p>
    <p>
        Wygenerowanie nowych kodów odzyskiwania nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz używany w aplikacji, powinieneś <a asp-page="./ResetAuthenticator">zresetować klucze uwierzytelniania.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Wygeneruj kody odzyskiwania</button>
    </form>
</div>