@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Ustawienia";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz klucz uwierzytelniający, Twoja aplikacja przestanie działać do czasu ponownej konfiguracji.</strong>
    </p>
    <p>
        Ten proces wyłącza weryfikację dwuetapową (2FA) do momentu zweryfikowania aplikacji uwierzytelniającej.
        Jeśli nie dokończysz konfiguracji aplikacji, możesz utracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniający</button>
    </form>
</div>