@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie wysłania";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę e-mail, aby zresetować hasło.
</p>